.movieGalleryItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 274px;
  position: relative;
  border-radius: 12px;
}

.imgWraper {
  background-color: #fff;
}

.movieGalleryItemImage {
  width: 274px;
  height: 268px;
  border-radius: 14px;
  object-fit: cover;
  margin-bottom: 14px;
}

.movieGalleryItemImage:hover {
  cursor: zoom-in;
}

.linkDetails {
  display: block;
  margin: 10px auto;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3470ff;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  width: 100%;
  max-height: 44px;
}

.linkDetails:hover,
.linkDetails:focus {
  background-color: #0b44cd;
}

.titlewraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.itemtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #121417;
}
.rentalprice {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #121417;
}

.text {
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 500;
  color: #121417;
  opacity: 50%;
  margin-bottom: 28px;
}
.titlespan {
  color: #3470ff;
}
