.container {
  position: relative;
  width: 100%;
  height: calc(100% - 84px);
  margin: 0 auto;
  padding-top: 0px;
  background-image: url('../../img/181-Mercedes-Benz-vision-avtr-1-min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.hero {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    rgba(228, 229, 241, 0.4),
    rgba(233, 233, 242, 0.4)
  );
  width: 100%;
  top: 220px;
  height: 280px;
}

.homeTitle {
  display: block;
  margin: 0 15px;
  text-align: center;
  font-size: 48px;
  font-weight: 700;
  color: beige;
  text-shadow: 2px 2px 0px #000000, -1px -1px 0px #ffffff;
}

.subHomeTitle {
  composes: homeTitle;

  font-size: 44px;
}

.logo {
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
  color: #3470ff;
}

.statistic {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  bottom: 40px;
  width: 100%;
  height: 80px;
}

.statisticItem {
  align-items: center;
  text-align: center;
  border-radius: 14px;
  width: 220px;
  height: 70px;
  padding: 10px;
  background-image: linear-gradient(
    rgba(243, 253, 239, 0.3),
    rgba(244, 244, 252, 0.3)
  );
}

.statisticText {
  font-weight: 500;
  font-size: 20px;
  color: aliceblue;
}

@media screen and (min-width: 375px) {
}

@media screen and (max-width: 767px) {
  .hero {
    top: 170px;
  }
  .homeTitle {
    font-size: 42px;
  }

  .subHomeTitle {
    font-size: 36px;
  }

  .statistic {
    bottom: 50px;
    flex-direction: column;
    gap: 10px;
  }

  .statisticItem {
    display: flex;
    justify-content: space-around;
    width: 250px;
    height: 40px;
    padding: 4px;
  }
  .statisticText {
    font-size: 16px;
    color: aliceblue;
  }
}
