a {
  text-decoration: none;
  color: #121417;
}

.header {
  top: 0px;
  left: 0;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: azure;
}

.visionWraper {
  display: none;
}

.visionMobileMenu {
  display: block;
}

.burgerButton {
  background-color: azure;
}

@media (min-width: 768px) {
  .visionWraper {
    display: block;
  }

  .visionMobileMenu {
    display: none;
  }
}

.respWraper {
  display: flex;
  gap: 40px;
}

.logo {
  text-decoration: none;
  text-transform: capitalize;
  font-style: italic;
  color: #3470ff;
  font-size: 38px;
  font-weight: 600;
}
