a {
  text-decoration: none;
  color: #121417;
}

.header {
  top: 0px;
  left: 0;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 36px;
  width: 100%;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-image: linear-gradient(to bottom, #3470ff, #fff);
}
