.searchform {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 859px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;
}

.searchbar {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #fff;
}

.searchformbutton {
  display: inline-block;
  width: 168px;
  height: 44px;
  font-size: 14px;
  border: none;
  border-radius: 12px;
  background-color: #3470ff;
  color: #fff;
  cursor: pointer;
  outline: none;
}

.searchformbutton:hover {
  opacity: 1;
  background-color: #0b44cd;
}

.searchforminput {
  width: 160px;
  height: 48px;
  font-size: 14px;
  background-color: #f7f7fb;
  border: none;
  outline: none;
}

.labelforselect .labelforinput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125;
  height: 74;
  background-color: #f7f7fb;
}
