.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalwindow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 541px;
  height: 752px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 24px;
}

.modalclosebtn {
  position: absolute;
  z-index: 100;
  top: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 16px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #b4b4b2e0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modalclosebtn:hover {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modalclosebtn:focus {
  background-color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.prodactcard {
  padding: 40px;
  overflow-y: auto;
}

.imgWraper {
  background-color: #fff;
}

.movieGalleryItemImage {
  width: 461px;
  max-height: 248px;
  border-radius: 14px;
  object-fit: cover;
  margin-bottom: 14px;
}

.linkDetails {
  display: block;
  margin-top: 17px;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #3470ff;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 12px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  font-style: normal;
  font-weight: 500;
  min-width: 168px;
  max-height: 44px;
}

.linkDetails:hover,
.linkDetails:focus {
  background-color: #0b44cd;
}

.titlewraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.itemtitle {
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #121417;
}
.rentalprice {
  display: inline-block;
  border-radius: 35px;
  background-color: #f9f9f9;
  margin: 0 8px 0 0;
  padding: 7px 14px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #363535;
}

.description {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #121417;
  margin-top: 14px;
}

.accessories {
  overflow: auto;
  margin-top: 24px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #121417;
}

.text {
  margin: 0px;
  font-size: 12px;
  line-height: 18px;
  font-style: normal;
  font-weight: 400;
  color: #121417;
  opacity: 50%;
}
.titlespan {
  color: #3470ff;
}

@media screen and (max-width: 374px) {
  .modalwindow {
    width: 280px;
  }

  .movieGalleryItemImage {
    width: 210px;
  }
}

@media screen and (min-width: 375px) {
  .modalwindow {
    width: 320px;
  }

  .movieGalleryItemImage {
    width: 240px;
  }
}

@media screen and (min-width: 768px) {
  .modalwindow {
    width: 541px;
    padding: 0;
  }

  .movieGalleryItemImage {
    width: 461px;
  }
}
